h1{

    width: 70%;
    margin: auto;

}
h3{
    font-size : 20px;
}
button{
    border : 3px solid black;
    border-radius: 10px;
}
#logo{
    display: block;
    width: 15%;
    margin: auto;
    align-self: center;
    background-color: green;
}

.buttons{

    display: block;
    width : 33%;
    margin: auto;
    text-align: center;

}

.buttons button{
    display: block;
    width: auto;
    margin: auto;

}

html{
    background-color: slategrey;
    color: slategray;
}
body{
    background-color: slategray;
}

#question {

    text-align: center;
}

#mainBody {

    width: 75%;
    margin: auto;
    padding : 1%;
    background-color: gray;
    border: 10px solid black;
    border-radius: 25px;
}